*.pyc
*.mat
*.bak
*~
crash*
*.egg-info/*
.coverage
.coverage.*
.pytest*

# Sphinx documentation
doc/_build/
doc/auto_examples/
doc/generated/

# Examples data files
examples/sample_BIDS_omega

# pypi build
build/
dist/

