version: 2
jobs:
    build:
        docker:
            - image: circleci/python:3.6-jessie
        steps:
            - checkout
            - run:
                name: Clean CircleCI
                command: |
                rm -rf ~/.pyenv;
                rm -rf ~/virtualenvs;
            - run:
                name: Spin up Xvfb
                command: |
                    /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x900x24 -ac +extension GLX +render -noreset;
                    echo "export DISPLAY=:99" >> $BASH_ENV;
            - run: sudo apt-get install libgl1-mesa-glx libegl1-mesa libxrandr2 libxrandr2 libxss1 libxcursor1 libxcomposite1 libasound2 libxi6 libxtst6 qt5-default;
            - run:
                name: Install miniconda
                command: |
                  wget -q https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh;
                  chmod +x ~/miniconda.sh;
                  ~/miniconda.sh -b -p ~/miniconda;
                  echo "export PATH=~/miniconda/bin:$PATH" >> $BASH_ENV;
            - run:
                name: Setup Python environment
                command: |
                  conda update --yes --quiet conda;
                  pip install matplotlib Pillow
                  pip install sphinx sphinx-gallery sphinx_bootstrap_theme
                  pip install cython scipy
                  pip install --upgrade mne
                  pip install scikit-learn
                  pip install scikit-optimize
                  pip install numpydoc
                  pip install nipype
                  pip install h5py
                  pip install PyQt5
                  conda install graphviz pydot
                  git clone https://github.com/EtienneCmb/visbrain.git
                  cd visbrain
                  python setup.py develop
                  cd ..
                  python setup.py develop
            - run:
                name: Build the documentation
                command: |
                    cd doc
                    make clean
                    make html
                no_output_timeout: 15m
            - store_artifacts:
                path: doc/_build/html/
                destination: html
            - add_ssh_keys:
                fingerprints:
                    - "42:95:ca:f6:27:af:76:f7:eb:50:40:d0:bf:25:b0:ea"
            - deploy:
                name: github pages deployment
                command: |
                  if [ "${CIRCLE_BRANCH}" == "master" ]; then
                    echo "Deploying dev docs.";
                    git config --global user.email "a.pascarella@iac.cnr.it";
                    git config --global user.name "NeuroPycon";
                    cd doc;
                    make install;
                  else
                    echo "No deployment (build: ${CIRCLE_BRANCH}).";
                  fi    
                
