version: 2
jobs:
    build:
        docker:
            - image: circleci/python:3.7.0-stretch-node-browsers
        steps:
            - checkout
            - run:
                name: Install miniconda
                command: |
                  wget -q https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh;
                  chmod +x ~/miniconda.sh;
                  ~/miniconda.sh -b -p ~/miniconda;
                  echo "export PATH=~/miniconda/bin:$PATH" >> $BASH_ENV;
            - run:
                name: Setup Python environment
                command: |
                  conda update --yes --quiet conda;
                  pip install matplotlib Pillow
                  pip install sphinx sphinx-gallery sphinx_bootstrap_theme
                  pip install cython scipy
                  pip install --upgrade mne
                  pip install scikit-learn
                  pip install scikit-optimize
                  pip install numpydoc
                  pip install nipype
                  python setup.py develop
            - run:
                name: Build the documentation
                command: |
                    cd doc
                    make html
            - store_artifacts:
                path: doc/_build/html/
                destination: html
