alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==20.1.0
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
autopep8==1.5.4
Babel==2.9.0
backcall==0.2.0
bctpy==0.5.2
black==20.8b1
bleach==3.2.1
cached-property==1.5.2
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
ci-info==0.2.0
click==7.1.2
cloudpickle==1.6.0
configparser==5.0.2
cryptography==3.2.1
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch==20200713
docutils==0.16
entrypoints==0.3
-e git+https://github.com/annapasca/ephypype.git@976f66e640b5f0ffc1a7be77c2c0f0db79c61554#egg=ephypype
et-xmlfile==1.0.1
etelemetry==0.2.2
filelock==3.0.12
flake8==3.8.4
freetype-py==2.2.0
graphpype==0.0.9
h5py==3.2.1
helpdev==0.7.1
idna==2.10
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==2.0.0
install==1.3.4
intervaltree==3.1.0
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1604101195213/work
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
isort==5.6.4
jedi @ file:///tmp/build/80754af9/jedi_1596490743326/work
jeepney==0.6.0
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyring==21.5.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==2.2.3
mccabe==0.6.1
meshio==4.3.8
mistune==0.8.4
mne==0.23.3
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==1.9
nibabel==3.2.1
nilearn==0.7.1
nipype==1.6.0
notebook==6.1.5
numpy==1.19.4
numpydoc==1.1.0
openpyxl==3.0.7
osfclient==0.0.4
packaging==20.4
pandas==0.23.4
pandocfilters==1.4.3
parso==0.7.0
pathspec==0.8.1
pathtools==0.1.2
patsy==0.5.1
pexpect @ file:///tmp/build/80754af9/pexpect_1594383317248/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1594384075987/work
Pillow==8.0.1
pluggy==0.13.1
POT==0.7.0
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
prov==2.0.0
psutil==5.7.3
ptyprocess==0.6.0
pycodestyle==2.6.0
pycparser==2.20
pydocstyle==5.1.1
pydot==1.4.1
pyflakes==2.2.0
Pygments @ file:///tmp/build/80754af9/pygments_1604103097372/work
pylint==2.6.0
pyls-black==0.4.6
pyls-spyder==0.2.1
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.12
PyQt5-sip==4.19.19
PyQtWebEngine==5.12.1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.1
pytz==2020.4
pyvista==0.28.0
pyvistaqt==0.3.0
pyxdg==0.27
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome==1.0.1
qtconsole==5.0.1
QtPy==1.9.0
ramp-utils==0.6.3
ramp-workflow==0.3.3
rdflib==5.0.0
regex==2020.11.13
requests==2.25.0
rope==0.18.0
Rtree==0.8.3
scikit-learn==0.23.2
scipy==1.6.0
scooby==0.5.6
seaborn==0.11.1
SecretStorage==3.3.0
Send2Trash==1.5.0
-e git+https://github.com/annapasca/sesameeg.git@724ce0f1fec5f4d3275cebca7f35142b62b119ee#egg=sesameeg
simplejson==3.17.2
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.3.0
Sphinx==3.3.1
sphinx-bootstrap-theme==0.7.1
sphinx-gallery==0.9.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
spyder==4.2.0
spyder-kernels==1.10.0
statsmodels==0.12.2
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
three-merge==0.1.1
toml==0.10.2
tornado==6.0.4
tqdm==4.51.0
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
traits==5.2.0
transforms3d==0.3.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
ujson==4.0.1
urllib3==1.26.2
visbrain==0.4.5
vispy==0.6.6
vtk==9.0.1
watchdog==0.10.4
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.0.1
xlrd==2.0.1
xlwt==1.3.0
yapf==0.30.0
zipp==3.4.0
